<hr>
<div class=footContainer>
  <div class="footLeft">
    <p>Licensed under <a target="_blank" rel="noopener noreferrer"
        href="https://gitlab.com/wavty/rust-plus/-/blob/main/LICENSE">BSD 2-Clause</a><br>
      Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a> using <a
        target="_blank" rel="noopener noreferrer" href="https://github.com/Speyll/anemone">anemone</a> theme &amp; <a
        target="_blank" rel="noopener noreferrer" href="https://github.com/Speyll/veqev">veqev</a> colors.<br>
    </p>
  </div>
  <div class="footRight">
    <a class="icons__background" target="_blank" rel="noopener noreferrer" href="{{ get_url(path=" atom.xml",
      trailing_slash=false) }}" title="Subscribe via RSS for updates."><svg class="icons icons__background">
        <use href="{{ get_url(path='icons.svg#rss', trailing_slash=false) | safe }}"></use>
      </svg></a>
  </div>
</div>